@charset "UTF-8";

header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.40);
}

header > nav > a {
    width: 95vw;
}